############################
# IntelliJ IDEA
############################
.idea/
*.iml
out/

############################
# VS Code
############################
.vscode/

############################
# Maven
############################
**/target/

############################
# Java
############################
*.class
*.jar
*.war
*.ear
*.nar

############################
# Logs
############################
*.log
logs/

############################
# Environment Files
############################
.env
.env.*

############################
# Node / React
############################
frontend/node_modules/
frontend/dist/

############################
# OS Files
############################
.DS_Store
Thumbs.db

############################
# Docker
############################
docker-compose.override.yml

############################
# Temporary Files
############################
*.tmp
*.swp

############################
# Eclipse
############################
.project
.classpath
.settings/

############################
# NetBeans
############################
nbproject/private/

############################
# Crash Logs
############################
hs_err_pid*
replay_pid*
